* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.css-button {
  display: inline-block;
  font-family: "Montserrat", "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  padding: 0.8em 1.4em;
  padding-right: 4.7em;
  background: #009ED8;
  border: none;
  color: white;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
}
.css-button:before,
.css-button:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-top: inherit;
  padding-bottom: inherit;
  width: 2.8em;
  content: "\00a0";
  font-family: 'FontAwesome', sans-serif;
  font-size: 1.2em;
  text-align: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  -moz-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform-origin: 50% 60%;
     -moz-transform-origin: 50% 60%;
      -ms-transform-origin: 50% 60%;
       -o-transform-origin: 50% 60%;
          transform-origin: 50% 60%;
}
.css-button:before {
  background: rgba(0, 0, 0, 0.1);
}
.css-button:hover {
  background: #0079a5;
}
.css-button:active,
.css-button:focus {
  background: #002e3f;
  outline: none;
}
.css-button {
  min-width: 15em;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.arrow {
  background: #079702;
}
.arrow:hover {
  background: #026702;
}
.arrow:active,
.arrow:focus {
  background: #0cb901;
}
.arrow:after {
  content: "\F054";
}
.arrow:hover:after {
  -webkit-animation: bounceright 0.3s alternate ease infinite;
  -moz-animation: bounceright 0.3s alternate ease infinite;
    -o-animation: bounceright 0.3s alternate ease infinite;
       animation: bounceright 0.3s alternate ease infinite;
}
.phone {
  background: #139675;
}
.phone:hover {
  background: #0d6952;
}
.phone:active,
.phone:focus {
  background: #083b2e;
}
.phone:after {
  content: "\F095";
}
.phone:hover:after {
  -webkit-animation: wiggle 0.05s alternate ease infinite;
  -moz-animation: wiggle 0.05s alternate ease infinite;
    -o-animation: wiggle 0.05s alternate ease infinite;
       animation: wiggle 0.05s alternate ease infinite;
}
.email {
  background: #C673B3;
}
.email:hover {
  background: #b74f9f;
}
.email:active,
.email:focus {
  background: #963d82;
}
.email:after {
  content: "\F0E0";
}
.email:hover:after {
  -webkit-animation: none;
  -webkit-transform: skew(-20deg);
  -moz-animation: none;
    -o-animation: none;
       animation: none;
  -moz-transform: skew(-20deg);
   -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
       transform: skew(-20deg);
  text-indent: 0.1em;
}
.search:after {
  content: "\f002";
}
.search:hover:after {
  -webkit-animation: none;
  -webkit-transform: scale(1.4);
  -moz-animation: none;
    -o-animation: none;
       animation: none;
  -moz-transform: scale(1.4);
   -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
       transform: scale(1.4);
}
@-webkit-keyframes bounceright {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(3px);
  }
}
@-webkit-keyframes wiggle {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(30deg);
  }
}
@-moz-keyframes bounceright {
  from {
    -moz-transform: translateX(0);
         transform: translateX(0);
  }
  to {
    -moz-transform: translateX(3px);
         transform: translateX(3px);
  }
}
@-o-keyframes bounceright {
  from {
    -o-transform: translateX(0);
       transform: translateX(0);
  }
  to {
    -o-transform: translateX(3px);
       transform: translateX(3px);
  }
}
@keyframes bounceright {
  from {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(3px);
       -moz-transform: translateX(3px);
         -o-transform: translateX(3px);
            transform: translateX(3px);
  }
}
@-moz-keyframes wiggle {
  from {
    -moz-transform: rotate(0deg);
         transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(30deg);
         transform: rotate(30deg);
  }
}
@-o-keyframes wiggle {
  from {
    -o-transform: rotate(0deg);
       transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(30deg);
       transform: rotate(30deg);
  }
}
@keyframes wiggle {
  from {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
         -o-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}