@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
    --panel-width: min(1200px,100vw);
    --panel-height: 100vh;
    --color1: rgba(0,0,0,0.75);
    --color2: rgba(255,255,255,0.2);
    --ph: min(100vw,100vh);
}

.App {
    -webkit-perspective-origin: center;
       -moz-perspective-origin: center;
            perspective-origin: center;
    -webkit-perspective: -webkit-calc(var(--panel-width) * 2);
       -moz-perspective: -moz-calc(var(--panel-width) * 2);
            perspective: calc(var(--panel-width) * 2);
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    5% {
        -webkit-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    10% {
        -webkit-transform: rotateZ(-40deg);
                transform: rotateZ(-40deg);
    }
    15% {
        -webkit-transform: rotateZ(-40deg);
                transform: rotateZ(-40deg);
    }
    20% {
        -webkit-transform: rotateZ(-80deg);
                transform: rotateZ(-80deg);
    }
    25% {
        -webkit-transform: rotateZ(-80deg);
                transform: rotateZ(-80deg);
    }
    30% {
        -webkit-transform: rotateZ(-120deg);
                transform: rotateZ(-120deg);
    }
    35% {
        -webkit-transform: rotateZ(-120deg);
                transform: rotateZ(-120deg);
    }
    40% {
        -webkit-transform: rotateZ(-160deg);
                transform: rotateZ(-160deg);
    }
    45% {
        -webkit-transform: rotateZ(-160deg);
                transform: rotateZ(-160deg);
    }
    50% {
        -webkit-transform: rotateZ(-200deg);
                transform: rotateZ(-200deg);
    }
    55% {
        -webkit-transform: rotateZ(-200deg);
                transform: rotateZ(-200deg);
    }
    60% {
        -webkit-transform: rotateZ(-240deg);
                transform: rotateZ(-240deg);
    }
    65% {
        -webkit-transform: rotateZ(-240deg);
                transform: rotateZ(-240deg);
    }
    70% {
        -webkit-transform: rotateZ(-280deg);
                transform: rotateZ(-280deg);
    }
    75% {
        -webkit-transform: rotateZ(-280deg);
                transform: rotateZ(-280deg);
    }
    80% {
        -webkit-transform: rotateZ(-320deg);
                transform: rotateZ(-320deg);
    }
    90% {
        -webkit-transform: rotateZ(-320deg);
                transform: rotateZ(-320deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
                transform: rotateZ(-360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotateZ(0deg);
             transform: rotateZ(0deg);
    }
    5% {
        -moz-transform: rotateZ(0deg);
             transform: rotateZ(0deg);
    }
    10% {
        -moz-transform: rotateZ(-40deg);
             transform: rotateZ(-40deg);
    }
    15% {
        -moz-transform: rotateZ(-40deg);
             transform: rotateZ(-40deg);
    }
    20% {
        -moz-transform: rotateZ(-80deg);
             transform: rotateZ(-80deg);
    }
    25% {
        -moz-transform: rotateZ(-80deg);
             transform: rotateZ(-80deg);
    }
    30% {
        -moz-transform: rotateZ(-120deg);
             transform: rotateZ(-120deg);
    }
    35% {
        -moz-transform: rotateZ(-120deg);
             transform: rotateZ(-120deg);
    }
    40% {
        -moz-transform: rotateZ(-160deg);
             transform: rotateZ(-160deg);
    }
    45% {
        -moz-transform: rotateZ(-160deg);
             transform: rotateZ(-160deg);
    }
    50% {
        -moz-transform: rotateZ(-200deg);
             transform: rotateZ(-200deg);
    }
    55% {
        -moz-transform: rotateZ(-200deg);
             transform: rotateZ(-200deg);
    }
    60% {
        -moz-transform: rotateZ(-240deg);
             transform: rotateZ(-240deg);
    }
    65% {
        -moz-transform: rotateZ(-240deg);
             transform: rotateZ(-240deg);
    }
    70% {
        -moz-transform: rotateZ(-280deg);
             transform: rotateZ(-280deg);
    }
    75% {
        -moz-transform: rotateZ(-280deg);
             transform: rotateZ(-280deg);
    }
    80% {
        -moz-transform: rotateZ(-320deg);
             transform: rotateZ(-320deg);
    }
    90% {
        -moz-transform: rotateZ(-320deg);
             transform: rotateZ(-320deg);
    }
    100% {
        -moz-transform: rotateZ(-360deg);
             transform: rotateZ(-360deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotateZ(0deg);
           transform: rotateZ(0deg);
    }
    5% {
        -o-transform: rotateZ(0deg);
           transform: rotateZ(0deg);
    }
    10% {
        -o-transform: rotateZ(-40deg);
           transform: rotateZ(-40deg);
    }
    15% {
        -o-transform: rotateZ(-40deg);
           transform: rotateZ(-40deg);
    }
    20% {
        -o-transform: rotateZ(-80deg);
           transform: rotateZ(-80deg);
    }
    25% {
        -o-transform: rotateZ(-80deg);
           transform: rotateZ(-80deg);
    }
    30% {
        -o-transform: rotateZ(-120deg);
           transform: rotateZ(-120deg);
    }
    35% {
        -o-transform: rotateZ(-120deg);
           transform: rotateZ(-120deg);
    }
    40% {
        -o-transform: rotateZ(-160deg);
           transform: rotateZ(-160deg);
    }
    45% {
        -o-transform: rotateZ(-160deg);
           transform: rotateZ(-160deg);
    }
    50% {
        -o-transform: rotateZ(-200deg);
           transform: rotateZ(-200deg);
    }
    55% {
        -o-transform: rotateZ(-200deg);
           transform: rotateZ(-200deg);
    }
    60% {
        -o-transform: rotateZ(-240deg);
           transform: rotateZ(-240deg);
    }
    65% {
        -o-transform: rotateZ(-240deg);
           transform: rotateZ(-240deg);
    }
    70% {
        -o-transform: rotateZ(-280deg);
           transform: rotateZ(-280deg);
    }
    75% {
        -o-transform: rotateZ(-280deg);
           transform: rotateZ(-280deg);
    }
    80% {
        -o-transform: rotateZ(-320deg);
           transform: rotateZ(-320deg);
    }
    90% {
        -o-transform: rotateZ(-320deg);
           transform: rotateZ(-320deg);
    }
    100% {
        -o-transform: rotateZ(-360deg);
           transform: rotateZ(-360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotateZ(0deg);
           -moz-transform: rotateZ(0deg);
             -o-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    5% {
        -webkit-transform: rotateZ(0deg);
           -moz-transform: rotateZ(0deg);
             -o-transform: rotateZ(0deg);
                transform: rotateZ(0deg);
    }
    10% {
        -webkit-transform: rotateZ(-40deg);
           -moz-transform: rotateZ(-40deg);
             -o-transform: rotateZ(-40deg);
                transform: rotateZ(-40deg);
    }
    15% {
        -webkit-transform: rotateZ(-40deg);
           -moz-transform: rotateZ(-40deg);
             -o-transform: rotateZ(-40deg);
                transform: rotateZ(-40deg);
    }
    20% {
        -webkit-transform: rotateZ(-80deg);
           -moz-transform: rotateZ(-80deg);
             -o-transform: rotateZ(-80deg);
                transform: rotateZ(-80deg);
    }
    25% {
        -webkit-transform: rotateZ(-80deg);
           -moz-transform: rotateZ(-80deg);
             -o-transform: rotateZ(-80deg);
                transform: rotateZ(-80deg);
    }
    30% {
        -webkit-transform: rotateZ(-120deg);
           -moz-transform: rotateZ(-120deg);
             -o-transform: rotateZ(-120deg);
                transform: rotateZ(-120deg);
    }
    35% {
        -webkit-transform: rotateZ(-120deg);
           -moz-transform: rotateZ(-120deg);
             -o-transform: rotateZ(-120deg);
                transform: rotateZ(-120deg);
    }
    40% {
        -webkit-transform: rotateZ(-160deg);
           -moz-transform: rotateZ(-160deg);
             -o-transform: rotateZ(-160deg);
                transform: rotateZ(-160deg);
    }
    45% {
        -webkit-transform: rotateZ(-160deg);
           -moz-transform: rotateZ(-160deg);
             -o-transform: rotateZ(-160deg);
                transform: rotateZ(-160deg);
    }
    50% {
        -webkit-transform: rotateZ(-200deg);
           -moz-transform: rotateZ(-200deg);
             -o-transform: rotateZ(-200deg);
                transform: rotateZ(-200deg);
    }
    55% {
        -webkit-transform: rotateZ(-200deg);
           -moz-transform: rotateZ(-200deg);
             -o-transform: rotateZ(-200deg);
                transform: rotateZ(-200deg);
    }
    60% {
        -webkit-transform: rotateZ(-240deg);
           -moz-transform: rotateZ(-240deg);
             -o-transform: rotateZ(-240deg);
                transform: rotateZ(-240deg);
    }
    65% {
        -webkit-transform: rotateZ(-240deg);
           -moz-transform: rotateZ(-240deg);
             -o-transform: rotateZ(-240deg);
                transform: rotateZ(-240deg);
    }
    70% {
        -webkit-transform: rotateZ(-280deg);
           -moz-transform: rotateZ(-280deg);
             -o-transform: rotateZ(-280deg);
                transform: rotateZ(-280deg);
    }
    75% {
        -webkit-transform: rotateZ(-280deg);
           -moz-transform: rotateZ(-280deg);
             -o-transform: rotateZ(-280deg);
                transform: rotateZ(-280deg);
    }
    80% {
        -webkit-transform: rotateZ(-320deg);
           -moz-transform: rotateZ(-320deg);
             -o-transform: rotateZ(-320deg);
                transform: rotateZ(-320deg);
    }
    90% {
        -webkit-transform: rotateZ(-320deg);
           -moz-transform: rotateZ(-320deg);
             -o-transform: rotateZ(-320deg);
                transform: rotateZ(-320deg);
    }
    100% {
        -webkit-transform: rotateZ(-360deg);
           -moz-transform: rotateZ(-360deg);
             -o-transform: rotateZ(-360deg);
                transform: rotateZ(-360deg);
    }
}

.css-carousel {
    position: relative;
    width: var(--panel-width);
    height: var(--panel-width);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
        -ms-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotateX(90deg) translateY(var(--panel-width));
       -moz-transform: rotateX(90deg) translateY(var(--panel-width));
            transform: rotateX(90deg) translateY(var(--panel-width));
}

.css-carousel-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    width: var(--panel-width);
    height: var(--panel-height);
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
        -ms-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;
    /* animation: spin 10s ease-in-out infinite; */
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transform: rotateZ(0deg);
       -moz-transform: rotateZ(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
}

@media all and (max-width: 1200px){

}

.css-carousel-panel {
    width: var(--panel-width);
    height: var(--panel-height);
    /* height: 100vh; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--color1);
    border: 0.5rem solid #eee;
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
        -ms-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;
    -webkit-border-radius: 0.5rem;
       -moz-border-radius: 0.5rem;
            border-radius: 0.5rem;
    -webkit-transform: translate(-50%,-50%) rotateZ(0deg);
       -moz-transform: translate(-50%,-50%) rotateZ(0deg);
        -ms-transform: translate(-50%,-50%) rotate(0deg);
         -o-transform: translate(-50%,-50%) rotateZ(0deg);
            transform: translate(-50%,-50%) rotateZ(0deg);
}
/* 
@media all and (max-width: 500px) {
    .css-carousel-panel {
        height: calc(var(--panel-width) * 1.5);
    }
} */
/*
@media all and (max-width: 700px) {
    .css-carousel-panel {
        height: calc(var(--panel-width) * 1.75);
    }

} */

.css-carousel-controls #panel-1:checked ~ .css-carousel .css-carousel-wrap {
    -webkit-transform:translate(-50%,-50%) rotateZ(0deg);
       -moz-transform:translate(-50%,-50%) rotateZ(0deg);
        -ms-transform:translate(-50%,-50%) rotate(0deg);
         -o-transform:translate(-50%,-50%) rotateZ(0deg);
            transform:translate(-50%,-50%) rotateZ(0deg);
}
.css-carousel-controls #panel-2:checked ~ .css-carousel .css-carousel-wrap {
    -webkit-transform:translate(-50%,-50%) rotateZ(-40deg);
       -moz-transform:translate(-50%,-50%) rotateZ(-40deg);
        -ms-transform:translate(-50%,-50%) rotate(-40deg);
         -o-transform:translate(-50%,-50%) rotateZ(-40deg);
            transform:translate(-50%,-50%) rotateZ(-40deg);
}
.css-carousel-controls #panel-3:checked ~ .css-carousel .css-carousel-wrap {
    -webkit-transform:translate(-50%,-50%) rotateZ(-80deg);
       -moz-transform:translate(-50%,-50%) rotateZ(-80deg);
        -ms-transform:translate(-50%,-50%) rotate(-80deg);
         -o-transform:translate(-50%,-50%) rotateZ(-80deg);
            transform:translate(-50%,-50%) rotateZ(-80deg);
}
.css-carousel-controls #panel-4:checked ~ .css-carousel .css-carousel-wrap {
    -webkit-transform:translate(-50%,-50%) rotateZ(-120deg);
       -moz-transform:translate(-50%,-50%) rotateZ(-120deg);
        -ms-transform:translate(-50%,-50%) rotate(-120deg);
         -o-transform:translate(-50%,-50%) rotateZ(-120deg);
            transform:translate(-50%,-50%) rotateZ(-120deg);
}
.css-carousel-controls #panel-5:checked ~ .css-carousel .css-carousel-wrap {
    -webkit-transform:translate(-50%,-50%) rotateZ(-160deg);
       -moz-transform:translate(-50%,-50%) rotateZ(-160deg);
        -ms-transform:translate(-50%,-50%) rotate(-160deg);
         -o-transform:translate(-50%,-50%) rotateZ(-160deg);
            transform:translate(-50%,-50%) rotateZ(-160deg);
}
.css-carousel-controls #panel-6:checked ~ .css-carousel .css-carousel-wrap {
    -webkit-transform:translate(-50%,-50%) rotateZ(-200deg);
       -moz-transform:translate(-50%,-50%) rotateZ(-200deg);
        -ms-transform:translate(-50%,-50%) rotate(-200deg);
         -o-transform:translate(-50%,-50%) rotateZ(-200deg);
            transform:translate(-50%,-50%) rotateZ(-200deg);
}
.css-carousel-controls #panel-7:checked ~ .css-carousel .css-carousel-wrap {
    -webkit-transform:translate(-50%,-50%) rotateZ(-240deg);
       -moz-transform:translate(-50%,-50%) rotateZ(-240deg);
        -ms-transform:translate(-50%,-50%) rotate(-240deg);
         -o-transform:translate(-50%,-50%) rotateZ(-240deg);
            transform:translate(-50%,-50%) rotateZ(-240deg);
}
.css-carousel-controls #panel-8:checked ~ .css-carousel .css-carousel-wrap {
    -webkit-transform:translate(-50%,-50%) rotateZ(-280deg);
       -moz-transform:translate(-50%,-50%) rotateZ(-280deg);
        -ms-transform:translate(-50%,-50%) rotate(-280deg);
         -o-transform:translate(-50%,-50%) rotateZ(-280deg);
            transform:translate(-50%,-50%) rotateZ(-280deg);
}
.css-carousel-controls #panel-9:checked ~ .css-carousel .css-carousel-wrap {
    -webkit-transform:translate(-50%,-50%) rotateZ(-320deg);
       -moz-transform:translate(-50%,-50%) rotateZ(-320deg);
        -ms-transform:translate(-50%,-50%) rotate(-320deg);
         -o-transform:translate(-50%,-50%) rotateZ(-320deg);
            transform:translate(-50%,-50%) rotateZ(-320deg);
}

.css-carousel-panel-header {
    height: 12%;
    width: 90%;
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    color: #6edb67; 
    font-family: 'Julius Sans One', sans-serif;
}

.css-carousel-panel-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 90%;
    height: 85%;
}

.css-carousel-panel-content img {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    position: relative;
    width: 100%;
    height: min(20%,200px);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    -webkit-border-radius: 0.5rem;
       -moz-border-radius: 0.5rem;
            border-radius: 0.5rem;
    padding:0.5rem;
    -webkit-box-shadow: 0 0.25rem 0.45rem var(--color2);
       -moz-box-shadow: 0 0.25rem 0.45rem var(--color2);
            box-shadow: 0 0.25rem 0.45rem var(--color2);
    background-color: #eee;
}


.css-carousel-panel-content p {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    font-size: 1rem;
}

.css-carousel-panel-content ul li {
    font-size: 1rem;
}
.css-carousel-panel-content ul {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
}

.css-carousel-panel-content a {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
       -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}

.css-carousel * {
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.css-carousel-panel:nth-child(1) {
    -webkit-transform: rotateZ(0deg) translateY(-webkit-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
       -moz-transform: rotateZ(0deg) translateY(-moz-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
            transform: rotateZ(0deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(2) {
    -webkit-transform: rotateZ(40deg) translateY(-webkit-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
       -moz-transform: rotateZ(40deg) translateY(-moz-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
            transform: rotateZ(40deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(3) {
    -webkit-transform: rotateZ(80deg) translateY(-webkit-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
       -moz-transform: rotateZ(80deg) translateY(-moz-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
            transform: rotateZ(80deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(4) {
    -webkit-transform: rotateZ(120deg) translateY(-webkit-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
       -moz-transform: rotateZ(120deg) translateY(-moz-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
            transform: rotateZ(120deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(5) {
    -webkit-transform: rotateZ(160deg) translateY(-webkit-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
       -moz-transform: rotateZ(160deg) translateY(-moz-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
            transform: rotateZ(160deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(6) {
    -webkit-transform: rotateZ(200deg) translateY(-webkit-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
       -moz-transform: rotateZ(200deg) translateY(-moz-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
            transform: rotateZ(200deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(7) {
    -webkit-transform: rotateZ(240deg) translateY(-webkit-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
       -moz-transform: rotateZ(240deg) translateY(-moz-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
            transform: rotateZ(240deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(8) {
    -webkit-transform: rotateZ(280deg) translateY(-webkit-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
       -moz-transform: rotateZ(280deg) translateY(-moz-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
            transform: rotateZ(280deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(9) {
    -webkit-transform: rotateZ(320deg) translateY(-webkit-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
       -moz-transform: rotateZ(320deg) translateY(-moz-calc(var(--panel-width) * -1.375)) rotateX(-90deg);
            transform: rotateZ(320deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

/* list items */

/* List */

.css-carousel ul {
    counter-reset: index;
    padding: 0;
    width: max(100%,250px);
}

/* List element */

.css-carousel li {
    counter-increment: index;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0.5rem 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    text-align: left;
    
}

/* Element counter */

.css-carousel li::before {
    content: "\2217";
    font-size: 1.5rem;
    text-align: right;
    font-weight: 700;
    min-width: 3rem;
    padding-right: .5rem;
    -webkit-font-feature-settings: "tnum";
       -moz-font-feature-settings: "tnum";
            font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#7fffd4),to(#ff4500));
    background-image: -webkit-linear-gradient(top,#7fffd4,#ff4500);
    background-image: -moz-linear-gradient(top,#7fffd4,#ff4500);
    background-image: -o-linear-gradient(top,#7fffd4,#ff4500);
    background-image: linear-gradient(180deg,#7fffd4,#ff4500);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: -webkit-calc(2 * var(--panel-width)) -webkit-calc(2 * var(--panel-height));
       -moz-background-size: -moz-calc(2 * var(--panel-width)) -moz-calc(2 * var(--panel-height));
         -o-background-size: calc(2 * var(--panel-width)) calc(2 * var(--panel-height));
            background-size: calc(2 * var(--panel-width)) calc(2 * var(--panel-height));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Element separation */

.css-carousel li+li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.css-carousel li strong{ 
    margin-right: 0.5rem;
    -webkit-box-flex:0;
    -webkit-flex:0 0 auto;
       -moz-box-flex:0;
        -ms-flex:0 0 auto;
            flex:0 0 auto;
}