@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

:root {
    --panel-width: min(1200px,100vw);
    --panel-height: 100vh;
    --color1: rgba(0,0,0,0.75);
    --color2: rgba(255,255,255,0.2);
    --ph: min(100vw,100vh);
}

.App {
    perspective-origin: center;
    perspective: calc(var(--panel-width) * 2);
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    5% {
        transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-40deg);
    }
    15% {
        transform: rotateZ(-40deg);
    }
    20% {
        transform: rotateZ(-80deg);
    }
    25% {
        transform: rotateZ(-80deg);
    }
    30% {
        transform: rotateZ(-120deg);
    }
    35% {
        transform: rotateZ(-120deg);
    }
    40% {
        transform: rotateZ(-160deg);
    }
    45% {
        transform: rotateZ(-160deg);
    }
    50% {
        transform: rotateZ(-200deg);
    }
    55% {
        transform: rotateZ(-200deg);
    }
    60% {
        transform: rotateZ(-240deg);
    }
    65% {
        transform: rotateZ(-240deg);
    }
    70% {
        transform: rotateZ(-280deg);
    }
    75% {
        transform: rotateZ(-280deg);
    }
    80% {
        transform: rotateZ(-320deg);
    }
    90% {
        transform: rotateZ(-320deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}

.css-carousel {
    position: relative;
    width: var(--panel-width);
    height: var(--panel-width);
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateX(90deg) translateY(var(--panel-width));
}

.css-carousel-wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    width: var(--panel-width);
    height: var(--panel-height);
    transform-origin: center;
    /* animation: spin 10s ease-in-out infinite; */
    transition-duration: 0.5s;
    transform: rotateZ(0deg);
}

@media all and (max-width: 1200px){

}

.css-carousel-panel {
    width: var(--panel-width);
    height: var(--panel-height);
    /* height: 100vh; */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: var(--color1);
    border: 0.5rem solid #eee;
    transform-origin: center;
    border-radius: 0.5rem;
    transform: translate(-50%,-50%) rotateZ(0deg);
}
/* 
@media all and (max-width: 500px) {
    .css-carousel-panel {
        height: calc(var(--panel-width) * 1.5);
    }
} */
/*
@media all and (max-width: 700px) {
    .css-carousel-panel {
        height: calc(var(--panel-width) * 1.75);
    }

} */

.css-carousel-controls #panel-1:checked ~ .css-carousel .css-carousel-wrap {
    transform:translate(-50%,-50%) rotateZ(0deg);
}
.css-carousel-controls #panel-2:checked ~ .css-carousel .css-carousel-wrap {
    transform:translate(-50%,-50%) rotateZ(-40deg);
}
.css-carousel-controls #panel-3:checked ~ .css-carousel .css-carousel-wrap {
    transform:translate(-50%,-50%) rotateZ(-80deg);
}
.css-carousel-controls #panel-4:checked ~ .css-carousel .css-carousel-wrap {
    transform:translate(-50%,-50%) rotateZ(-120deg);
}
.css-carousel-controls #panel-5:checked ~ .css-carousel .css-carousel-wrap {
    transform:translate(-50%,-50%) rotateZ(-160deg);
}
.css-carousel-controls #panel-6:checked ~ .css-carousel .css-carousel-wrap {
    transform:translate(-50%,-50%) rotateZ(-200deg);
}
.css-carousel-controls #panel-7:checked ~ .css-carousel .css-carousel-wrap {
    transform:translate(-50%,-50%) rotateZ(-240deg);
}
.css-carousel-controls #panel-8:checked ~ .css-carousel .css-carousel-wrap {
    transform:translate(-50%,-50%) rotateZ(-280deg);
}
.css-carousel-controls #panel-9:checked ~ .css-carousel .css-carousel-wrap {
    transform:translate(-50%,-50%) rotateZ(-320deg);
}

.css-carousel-panel-header {
    height: 12%;
    width: 90%;
    font-size: 2rem;
    font-weight: 200;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: left;
    color: #6edb67; 
    font-family: 'Julius Sans One', sans-serif;
}

.css-carousel-panel-content {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    width: 90%;
    height: 85%;
}

.css-carousel-panel-content img {
    flex: 1;
    position: relative;
    width: 100%;
    height: min(20%,200px);
    object-fit: cover;
    object-position: top;
    border-radius: 0.5rem;
    padding:0.5rem;
    box-shadow: 0 0.25rem 0.45rem var(--color2);
    background-color: #eee;
}


.css-carousel-panel-content p {
    flex: 0 0 auto;
    width: 100%;
    font-size: 1rem;
}

.css-carousel-panel-content ul li {
    font-size: 1rem;
}
.css-carousel-panel-content ul {
    flex: 0 0 auto;
    width: 100%;
}

.css-carousel-panel-content a {
    flex: 0 0 auto;
}

.css-carousel * {
    transform-style: preserve-3d;
}

.css-carousel-panel:nth-child(1) {
    transform: rotateZ(0deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(2) {
    transform: rotateZ(40deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(3) {
    transform: rotateZ(80deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(4) {
    transform: rotateZ(120deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(5) {
    transform: rotateZ(160deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(6) {
    transform: rotateZ(200deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(7) {
    transform: rotateZ(240deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(8) {
    transform: rotateZ(280deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

.css-carousel-panel:nth-child(9) {
    transform: rotateZ(320deg) translateY(calc(var(--panel-width) * -1.375)) rotateX(-90deg);
}

/* list items */

/* List */

.css-carousel ul {
    counter-reset: index;
    padding: 0;
    width: max(100%,250px);
}

/* List element */

.css-carousel li {
    counter-increment: index;
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 0;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    
}

/* Element counter */

.css-carousel li::before {
    content: "\2217";
    font-size: 1.5rem;
    text-align: right;
    font-weight: 700;
    min-width: 3rem;
    padding-right: .5rem;
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(180deg,#7fffd4,#ff4500);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: calc(2 * var(--panel-width)) calc(2 * var(--panel-height));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Element separation */

.css-carousel li+li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.css-carousel li strong{ 
    margin-right: 0.5rem;
    flex:0 0 auto;
}
