:root {
    --button-bg: #079702;
}

.css-carousel-controls input[type="radio"] {
    margin: 0;
    position: fixed;
    top: 1.5rem;
    left: 50%;
    width: 1rem;
    height: 1rem;
    z-index: 1000;
    opacity: 1;
    cursor: pointer;
}
#panel-1 {
    left: calc(50% - 12rem);
}
#panel-2 {
    left: calc(50% - 9rem);
}
#panel-3 {
    left: calc(50% - 6rem);
}
#panel-4 {
    left: calc(50% - 3rem);
}
#panel-5 {
    left: calc(50% - 0rem);
}
#panel-6 {
    left: calc(50% + 3rem);
}
#panel-7 {
    left: calc(50% + 6rem);
}
#panel-8 {
    left: calc(50% + 9rem);
}
#panel-9 {
    left: calc(50% + 12rem);
}
.css-carousel-controls .css-carousel-controls-labels {
    position: fixed;
    right: 0;
    bottom: calc(2.5rem + 30px);
    display: flex;
    flex-flow: row;
    justify-content: center;
    z-index: 1000;
    width: 100vw;
}

.css-carousel-controls .css-carousel-controls-labels label{
    position: absolute;
    left: 0;
    right: 0;
    /* border: 1px solid rgb(255, 255, 255);
    background-color: rgba(32,27,105,0.8);
    margin: 0.25rem;
    padding: 0.5rem; */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 0rem;
    transform-style: preserve-3d;
    width: max(35%,250px);
    margin: 0 auto;
}

.css-carousel-controls .css-carousel-controls-labels label:hover::before {
    background-color: #27f732 !important;
}
.css-carousel-controls .css-carousel-controls-labels label::before{
    content: "";
    position: absolute;
    color: #fff;
    z-index: 1000;
    padding:0;
    margin:0.25rem;
    transform: translateZ(10px);
    opacity: 1;
    font-size: min(calc(1vw + 12px),calc(1vh + 12px));
}
.css-carousel-controls #panel-1:checked ~ .css-carousel-controls-labels label[for="panel-1"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-1:checked ~ .css-carousel-controls-labels label[for="panel-2"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-1:checked ~ .css-carousel-controls-labels label[for="panel-9"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-2:checked ~ .css-carousel-controls-labels label[for="panel-2"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-2:checked ~ .css-carousel-controls-labels label[for="panel-3"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-2:checked ~ .css-carousel-controls-labels label[for="panel-1"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-3:checked ~ .css-carousel-controls-labels label[for="panel-3"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-3:checked ~ .css-carousel-controls-labels label[for="panel-4"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-3:checked ~ .css-carousel-controls-labels label[for="panel-2"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-4:checked ~ .css-carousel-controls-labels label[for="panel-4"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-4:checked ~ .css-carousel-controls-labels label[for="panel-5"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-4:checked ~ .css-carousel-controls-labels label[for="panel-3"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-5:checked ~ .css-carousel-controls-labels label[for="panel-5"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-5:checked ~ .css-carousel-controls-labels label[for="panel-6"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-5:checked ~ .css-carousel-controls-labels label[for="panel-4"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-6:checked ~ .css-carousel-controls-labels label[for="panel-6"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-6:checked ~ .css-carousel-controls-labels label[for="panel-7"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-6:checked ~ .css-carousel-controls-labels label[for="panel-5"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-7:checked ~ .css-carousel-controls-labels label[for="panel-7"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-7:checked ~ .css-carousel-controls-labels label[for="panel-8"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-7:checked ~ .css-carousel-controls-labels label[for="panel-6"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-8:checked ~ .css-carousel-controls-labels label[for="panel-8"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-8:checked ~ .css-carousel-controls-labels label[for="panel-9"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-8:checked ~ .css-carousel-controls-labels label[for="panel-7"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-9:checked ~ .css-carousel-controls-labels label[for="panel-9"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-9:checked ~ .css-carousel-controls-labels label[for="panel-1"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-9:checked ~ .css-carousel-controls-labels label[for="panel-8"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}


/* 
#panel-1:checked ~ .css-carousel .css-carousel-wrap .css-carousel-panel:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(9)) {
    display: none;
}
#panel-2:checked ~ .css-carousel .css-carousel-wrap .css-carousel-panel:not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(1)) {
    display: none;
}
#panel-3:checked ~ .css-carousel .css-carousel-wrap .css-carousel-panel:not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(2)) {
    display: none;
}
#panel-4:checked ~ .css-carousel .css-carousel-wrap .css-carousel-panel:not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(3)) {
    display: none;
}
#panel-5:checked ~ .css-carousel .css-carousel-wrap .css-carousel-panel:not(:nth-child(5)):not(:nth-child(6)):not(:nth-child(4)) {
    display: none;
}
#panel-6:checked ~ .css-carousel .css-carousel-wrap .css-carousel-panel:not(:nth-child(6)):not(:nth-child(7)):not(:nth-child(5)) {
    display: none;
}
#panel-7:checked ~ .css-carousel .css-carousel-wrap .css-carousel-panel:not(:nth-child(7)):not(:nth-child(8)):not(:nth-child(6)) {
    display: none;
}
#panel-8:checked ~ .css-carousel .css-carousel-wrap .css-carousel-panel:not(:nth-child(8)):not(:nth-child(9)):not(:nth-child(7)) {
    display: none;
}
#panel-9:checked ~ .css-carousel .css-carousel-wrap .css-carousel-panel:not(:nth-child(9)):not(:nth-child(1)):not(:nth-child(8)) {
    display: none;
} */