:root {
    --button-bg: #079702;
}

.css-carousel-controls {
    z-index: 1000;
}

.css-carousel-controls input[type="radio"] {
    margin: 0;
    position: fixed;
    top: 1.5rem;
    left: 50%;
    width: 1rem;
    height: 1rem;
    z-index: 1000;
    opacity: 1;
}
#panel-1 {
    left: -webkit-calc(50% - 12rem);
    left: -moz-calc(50% - 12rem);
    left: calc(50% - 12rem);
}
#panel-2 {
    left: -webkit-calc(50% - 9rem);
    left: -moz-calc(50% - 9rem);
    left: calc(50% - 9rem);
}
#panel-3 {
    left: -webkit-calc(50% - 6rem);
    left: -moz-calc(50% - 6rem);
    left: calc(50% - 6rem);
}
#panel-4 {
    left: -webkit-calc(50% - 3rem);
    left: -moz-calc(50% - 3rem);
    left: calc(50% - 3rem);
}
#panel-5 {
    left: -webkit-calc(50% - 0rem);
    left: -moz-calc(50% - 0rem);
    left: calc(50% - 0rem);
}
#panel-6 {
    left: -webkit-calc(50% + 3rem);
    left: -moz-calc(50% + 3rem);
    left: calc(50% + 3rem);
}
#panel-7 {
    left: -webkit-calc(50% + 6rem);
    left: -moz-calc(50% + 6rem);
    left: calc(50% + 6rem);
}
#panel-8 {
    left: -webkit-calc(50% + 9rem);
    left: -moz-calc(50% + 9rem);
    left: calc(50% + 9rem);
}
#panel-9 {
    left: -webkit-calc(50% + 12rem);
    left: -moz-calc(50% + 12rem);
    left: calc(50% + 12rem);
}
.css-carousel-controls .css-carousel-controls-labels {
    position: fixed;
    right: 0;
    bottom: -webkit-calc(2.5rem + 30px);
    bottom: -moz-calc(2.5rem + 30px);
    bottom: calc(2.5rem + 30px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 1000;
    width: 100vw;
}

.css-carousel-controls .css-carousel-controls-labels label{
    position: absolute;
    left: 0;
    right: 0;
    /* border: 1px solid rgb(255, 255, 255);
    background-color: rgba(32,27,105,0.8);
    margin: 0.25rem;
    padding: 0.5rem; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-border-radius: 1rem;
       -moz-border-radius: 1rem;
            border-radius: 1rem;
    cursor: pointer;
    font-size: 0rem;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
            transform-style: preserve-3d;
    width: max(35%,250px);
    margin: 0 auto;
}

.css-carousel-controls .css-carousel-controls-labels label:hover::before {
    background-color: #27f732 !important;
}
.css-carousel-controls .css-carousel-controls-labels label::before{
    content: "";
    position: absolute;
    color: #fff;
    z-index: 1000;
    padding:0;
    margin:0.25rem;
    -webkit-transform: translateZ(10px);
       -moz-transform: translateZ(10px);
            transform: translateZ(10px);
    opacity: 1;
    font-size: min(-webkit-calc(1vw + 12px),-webkit-calc(1vh + 12px));
    font-size: min(-moz-calc(1vw + 12px),-moz-calc(1vh + 12px));
    font-size: min(calc(1vw + 12px),calc(1vh + 12px));
}
.css-carousel-controls #panel-1:checked ~ .css-carousel-controls-labels label[for="panel-1"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-1:checked ~ .css-carousel-controls-labels label[for="panel-2"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-1:checked ~ .css-carousel-controls-labels label[for="panel-9"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-2:checked ~ .css-carousel-controls-labels label[for="panel-2"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-2:checked ~ .css-carousel-controls-labels label[for="panel-3"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-2:checked ~ .css-carousel-controls-labels label[for="panel-1"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-3:checked ~ .css-carousel-controls-labels label[for="panel-3"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-3:checked ~ .css-carousel-controls-labels label[for="panel-4"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-3:checked ~ .css-carousel-controls-labels label[for="panel-2"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-4:checked ~ .css-carousel-controls-labels label[for="panel-4"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-4:checked ~ .css-carousel-controls-labels label[for="panel-5"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-4:checked ~ .css-carousel-controls-labels label[for="panel-3"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-5:checked ~ .css-carousel-controls-labels label[for="panel-5"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-5:checked ~ .css-carousel-controls-labels label[for="panel-6"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-5:checked ~ .css-carousel-controls-labels label[for="panel-4"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-6:checked ~ .css-carousel-controls-labels label[for="panel-6"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-6:checked ~ .css-carousel-controls-labels label[for="panel-7"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-6:checked ~ .css-carousel-controls-labels label[for="panel-5"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-7:checked ~ .css-carousel-controls-labels label[for="panel-7"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-7:checked ~ .css-carousel-controls-labels label[for="panel-8"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-7:checked ~ .css-carousel-controls-labels label[for="panel-6"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-8:checked ~ .css-carousel-controls-labels label[for="panel-8"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-8:checked ~ .css-carousel-controls-labels label[for="panel-9"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-8:checked ~ .css-carousel-controls-labels label[for="panel-7"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}

.css-carousel-controls #panel-9:checked ~ .css-carousel-controls-labels label[for="panel-9"]{
    /* border: 1px solid rgba(40, 184, 59, 0.8);
    background-color: rgba(30, 105, 27, 0.8); */
}
.css-carousel-controls #panel-9:checked ~ .css-carousel-controls-labels label[for="panel-1"]::before{
    content: "NEXT";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    right:1rem;
}
.css-carousel-controls #panel-9:checked ~ .css-carousel-controls-labels label[for="panel-8"]::before{
    content: "PREV";
    background-color: var(--button-bg);
    padding:0.25rem 0.75rem;
    top:1rem;
    left: 1rem;
}