:root {
  font-size:max(-webkit-calc(0.75vw + 6px),-webkit-calc(0.75vh + 6px));
  font-size:max(-moz-calc(0.75vw + 6px),-moz-calc(0.75vh + 6px));
  font-size:max(calc(0.75vw + 6px),calc(0.75vh + 6px));
}
html, body {
  margin: 0;
  padding: 0;
}

@media all and (max-width: 700px) {
  html, body {
    font-size: 1vh;
  }
}

* {
  -webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: auto;
     -moz-font-feature-settings: auto;
          font-feature-settings: auto;
  -webkit-font-kerning: auto;
  font-kerning: auto;
  outline: 0 !important;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size:contain;
     -moz-background-size:contain;
       -o-background-size:contain;
          background-size:contain;
  color: #fff;
}

html {
  font-family: sans-serif;
  background: #000;
}

a { 
  text-decoration: none;
}